header h1 {
    text-align: center;
    font-weight: bold;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.7;
    margin: 0;
    background: #f7f7f7;
}

header {
    background: #003366;
    padding: 30px;
    text-align: center;
    color: white;
}

.content {
    padding: 20px 40px;
    background: white;
    margin: 20px;
    border-radius: 8px;
}
.container {
    max-width: 1200px; /* limits width on large screens */
    margin: 0 auto;     /* centers the container */
    padding: 0 50px;    /* space on left and right */
}
h1, h2 {
    color: #003366;
}

a {
    color: #0074D9;
    font-weight: bold;
}

pre {
    background: #eee;
    padding: 15px;
    border-radius: 6px;
}
